*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: #343a40;
    height: 56px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
}
.logo{
    font-size: 20px;
    padding: 5px 0px;
    margin-right: 16px;
    color: white;
    font-weight: 400;
}
.nav ul{
    display: flex;
}
.nav li{
    list-style: none;
    padding: 8px;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav-second{
    color: rgba(255,255,255,.5) !important;
}
.nav-third{
    color: rgba(255,255,255,.25) !important;
}
input{
    height: 38px;
    border-radius: 5px;
    border: transparent;
    width: 201px;
    padding: 6px 12px;
    font-size: 16px;
    margin-right: 8px;
}
form button{
    height: 38px;
    border: 1px solid #28a745;
    border-radius: 5px;
    color: #28a745;
    padding: 6px 12px;
    font-size: 16px;
    background-color: transparent;
}
.container {
    margin:0 auto;
    width: 1031px;
}
.banner{
    background-color: #777777;
    height: 463px;
    display: flex;
    justify-content: center;
}
.banner-content{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 80px;
    color: white;
    text-align: right;
}
.banner h2{
    font-size: 40px;
    margin-bottom: 8px;
    font-weight: 500;
    color: white;
}
.banner p{
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.banner button{
    padding: 8px 16px;
    background-color: #007bff;
    border: transparent;
    font-size: 20px;
    font-weight: 400px;
    border-radius: 4px;
    color: white;
    height: 48px;
}
.card-image{
    border-radius: 50%;
}
.row{
    display: flex;
    width: 1140px;
    padding-top: 70px;
    color: #5a5a5a;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 80px;
}
.card{
    width: 380px;
    margin-bottom: 24px;
    padding: 0px 15px;
    text-align: center;
}
.container-content{
    margin:0 auto;
    width: 1140px;
}
.card p{
    width: 326px;
    margin: 0px 12px 16px;
    line-height: 1.5;
}
.h3-card{
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: 400;
}
.card button{
    height: 38px;
    background-color: #6c757d;
    color: white;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 5px;
    border: transparent;
    margin-bottom: 80px;
}
.card-photo-banner{
    display: grid;
    grid-template-columns: 665px 475px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.card-photo-banner-img{
    display: grid;
    grid-template-columns: 475px 665px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.content-side{
    padding: 0px 15px;
    height: 500px;
}
.content-side h4{
    font-size: 50px;
    color: #5a5a5a;
    font-weight: 400;
    margin: 112px 0px 8px;
    line-height: 1;
}
.content-side p{
    font-size: 20px;
    color: #5a5a5a;
    line-height: 1.5;
    font-weight: 300;
}
.padding-banner{
    padding-top: 80px !important;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 80px !important;
    padding-bottom: 48px;
}
footer a{
    color: #007bff;
    text-decoration: none;
}

